# Ignore CSV files
*.csv

# Ignore all files in the 'data' and pycache directories
/data/*
/_pycache_/*

# Ignore backup files created by text editors
*~

# Ignore Jupyter Notebook files
*.ipynb
!test.ipynb

# Ignore configuration files
config.py

# Ignore code testing files
tsla_data.py 
manual_start.py

# Ignore random files
*.pkl
*.xlsx
OptionsApp.code-workspace

